# Credit Card Fraud Detection
Anonymized credit card transactions labeled as fraudulent or genuine
Cover image

# Importing the libraries

In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [39]:
df = pd.read_csv('creditcard.csv')

In [40]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

Features V1, V2, … V28 are the principal components obtained with PCA (Principal Component Analysis), the only features which have not been transformed with PCA are 'Time' and 'Amount'.

In [41]:
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [42]:
#Information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [43]:
#Checking the null values
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [44]:
#Distribution of legit and fraudulent data
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [45]:
#This dataset is highly unbalanced
# 0 --> Normal transaction
# 1 --> Fradulent transaction

In [46]:
#Seperating the dataset for Analysis
legit = df[df.Class == 0]
fraud = df[df.Class == 1]

In [47]:
legit.shape

(284315, 31)

In [48]:
fraud.shape

(492, 31)

In [49]:
df.shape

(284807, 31)

In [50]:
#Description of the dataset
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [51]:
250/88

2.840909090909091

In [52]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [53]:
256/122

2.098360655737705

In [54]:
#Compare the values for both transactions
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-sampling

In [55]:
#Build a sample dataset with the same number of legit transaction and fraud transaction

number of Fraudulent data = 492

In [56]:
legit_sample = legit.sample(492)

In [57]:
legit_sample

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
186596,127173.0,1.995700,-0.733247,-0.529115,0.715175,-0.917350,-0.505528,-0.634218,-0.092145,-0.157318,...,-0.299642,-0.338092,0.234400,-0.173631,-0.212880,-0.666219,0.058845,-0.025554,49.00,0
154810,103114.0,2.034135,-0.033538,-0.837399,0.289100,0.028755,-0.666397,-0.131038,-0.258947,1.793044,...,-0.609701,-1.595870,0.567793,0.554283,-0.711845,-0.049344,-0.101978,-0.044982,22.93,0
58341,48339.0,-1.285112,-0.190131,1.012032,-0.307194,0.285323,-1.327069,1.366172,-0.271409,-0.836649,...,0.162107,-0.125629,0.199317,0.435211,0.545592,1.099161,-0.168173,0.063904,198.00,0
59574,48903.0,1.107800,-0.225152,1.260419,0.757662,-1.007656,0.032647,-0.671244,0.185869,0.593070,...,-0.024529,0.075854,-0.001885,0.379845,0.235405,0.296256,0.013420,0.020895,25.00,0
167199,118543.0,2.149687,-0.615148,-1.792341,-0.663043,-0.075483,-0.869555,0.059361,-0.352590,-0.711351,...,-0.335943,-0.312376,0.047117,-0.391574,0.207424,0.117806,-0.041071,-0.076746,24.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187777,127687.0,-1.409685,0.723697,-2.442111,-0.182335,0.099089,-0.224102,0.690121,0.662571,-0.546501,...,0.243767,1.163099,0.842380,0.276912,-1.616553,0.086363,-0.286587,-0.281083,155.75,0
182932,125590.0,-0.522879,0.712441,-0.655709,-0.510811,0.940173,-0.667272,2.073172,-0.334012,-0.647012,...,0.071933,-0.002289,0.083761,0.601016,0.177654,0.483958,-0.002950,0.173011,176.16,0
235764,148530.0,2.075824,0.096950,-1.941714,0.636608,0.406202,-0.851552,0.088289,-0.248703,0.863290,...,-0.075543,0.105472,-0.050729,-0.721266,0.183978,0.679053,-0.041564,-0.036581,6.99,0
200314,133385.0,1.933515,-0.439733,-1.363803,-0.038272,0.247403,0.045848,-0.058905,-0.013709,0.789337,...,-0.108758,-0.216299,0.139406,0.246715,-0.036308,-0.115673,-0.037915,-0.054356,56.44,0
59512,48872.0,-0.732883,0.836225,1.465516,0.127164,-0.260065,-0.429897,0.543503,0.126201,-0.033805,...,-0.177111,-0.209623,-0.026381,0.564532,0.072188,0.219572,0.359059,0.135810,30.90,0

In [58]:
#Concatenating the two dataframes (legit_sample and fraud)
new_df = pd.concat([legit_sample,fraud], axis = 0)

In [59]:
new_df

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
186596,127173.0,1.995700,-0.733247,-0.529115,0.715175,-0.917350,-0.505528,-0.634218,-0.092145,-0.157318,...,-0.299642,-0.338092,0.234400,-0.173631,-0.212880,-0.666219,0.058845,-0.025554,49.00,0
154810,103114.0,2.034135,-0.033538,-0.837399,0.289100,0.028755,-0.666397,-0.131038,-0.258947,1.793044,...,-0.609701,-1.595870,0.567793,0.554283,-0.711845,-0.049344,-0.101978,-0.044982,22.93,0
58341,48339.0,-1.285112,-0.190131,1.012032,-0.307194,0.285323,-1.327069,1.366172,-0.271409,-0.836649,...,0.162107,-0.125629,0.199317,0.435211,0.545592,1.099161,-0.168173,0.063904,198.00,0
59574,48903.0,1.107800,-0.225152,1.260419,0.757662,-1.007656,0.032647,-0.671244,0.185869,0.593070,...,-0.024529,0.075854,-0.001885,0.379845,0.235405,0.296256,0.013420,0.020895,25.00,0
167199,118543.0,2.149687,-0.615148,-1.792341,-0.663043,-0.075483,-0.869555,0.059361,-0.352590,-0.711351,...,-0.335943,-0.312376,0.047117,-0.391574,0.207424,0.117806,-0.041071,-0.076746,24.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [60]:
new_df.Class.value_counts()

0    492
1    492
Name: Class, dtype: int64

In [61]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,97477.540650,-0.067862,0.002083,0.016242,-0.081738,0.083441,0.020079,-0.044366,0.036193,-0.006749,...,0.026928,0.060274,-0.048630,0.044990,0.024364,-0.010081,-0.030025,0.022864,-0.003288,83.671443
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [62]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Splitting the dataset into feature and target values

In [63]:
X = new_df.drop('Class', axis = 1)

In [64]:
y  = new_df['Class']

In [65]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
186596,127173.0,1.995700,-0.733247,-0.529115,0.715175,-0.917350,-0.505528,-0.634218,-0.092145,-0.157318,...,-0.633699,-0.299642,-0.338092,0.234400,-0.173631,-0.212880,-0.666219,0.058845,-0.025554,49.00
154810,103114.0,2.034135,-0.033538,-0.837399,0.289100,0.028755,-0.666397,-0.131038,-0.258947,1.793044,...,-0.159501,-0.609701,-1.595870,0.567793,0.554283,-0.711845,-0.049344,-0.101978,-0.044982,22.93
58341,48339.0,-1.285112,-0.190131,1.012032,-0.307194,0.285323,-1.327069,1.366172,-0.271409,-0.836649,...,0.566939,0.162107,-0.125629,0.199317,0.435211,0.545592,1.099161,-0.168173,0.063904,198.00
59574,48903.0,1.107800,-0.225152,1.260419,0.757662,-1.007656,0.032647,-0.671244,0.185869,0.593070,...,-0.024834,-0.024529,0.075854,-0.001885,0.379845,0.235405,0.296256,0.013420,0.020895,25.00
167199,118543.0,2.149687,-0.615148,-1.792341,-0.663043,-0.075483,-0.869555,0.059361,-0.352590,-0.711351,...,-0.569592,-0.335943,-0.312376,0.047117,-0.391574,0.207424,0.117806,-0.041071,-0.076746,24.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [66]:
y

186596    0
154810    0
58341     0
59574     0
167199    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

# Splitting the data into training and testing data

In [67]:
from sklearn.model_selection import train_test_split

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y random_state=2)

In [71]:
X.shape, X_train.shape, X_test.shape

((984, 30), (787, 30), (197, 30))

# Model Training
Logistic Regression

In [72]:
from sklearn.linear_model import LogisticRegression

In [73]:
model = LogisticRegression()

In [74]:
model.fit(X_train, y_train)

LogisticRegression()

In [79]:
reg_predict_test= model.predict(X_test)

In [80]:
reg_predict_train = model.predict(X_train)

# Model Evaluation

In [96]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [82]:
accuracy_score(y_test, reg_predict_test)

0.9137055837563451

In [81]:
accuracy_score(reg_predict_train, y_train)

0.9263024142312579

In [97]:
confusion_matrix(y_test, reg_predict_test)

array([[90,  5],
       [12, 90]], dtype=int64)

In [95]:
print(classification_report(y_train, reg_predict_train))

              precision    recall  f1-score   support

           0       0.90      0.96      0.93       397
           1       0.96      0.89      0.92       390

    accuracy                           0.93       787
   macro avg       0.93      0.93      0.93       787
weighted avg       0.93      0.93      0.93       787

In [94]:
print(classification_report(y_test, reg_predict_test))

              precision    recall  f1-score   support

           0       0.88      0.95      0.91        95
           1       0.95      0.88      0.91       102

    accuracy                           0.91       197
   macro avg       0.91      0.91      0.91       197
weighted avg       0.92      0.91      0.91       197